body {
	font-family: "Gill Sans", sans-serif;
	/* display: flex; */
	background-image: url("HadoukenTypingBackground.png");
}

#LettersContent {
	display: flex;
}

.Letters {
	font-family: "Gill Sans", sans-serif;
	background-color: #FF0011;
	width: 30px;
	font-size: 22px;
	margin: 2px;
	padding: 5px;
	border: 1px solid #000;
}

.LettersOK {
	font-family: "Gill Sans", sans-serif;
	background-color: #00FF11;
	width: 30px;
	font-size: 22px;
	margin: 2px;
	padding: 5px;
	border: 1px solid #000;
}

.playerChoiceButton {
	cursor: pointer;
}

#playerLife {
	margin-right: 600px;
	color: #F00;
}

#enemyLife {
	color: #F00;
}

#lifes {
	display: flex;
}

#gameWin {
	margin-left: 120px;
	color: #0F0
}

#gameLose {
	margin-left: 120px;
	color: #F00
}

@keyframes close {
  from {top: 300px; display: flex;}
  to {top: -300px; display: none;}
}

@keyframes open {
  from {top: -300px;}
  to {top: 350px;}
}

#againMenu {
	/* display: none; */
	display: flex;
	flex-direction: column;
	font-size: 30px;
	justify-content: center;
	color: #FFF;
	width: 400px;
	height: 250px;
	position: absolute;
	top: -300px;
	/* top: 200px; */
	left: 250px;
	animation-duration: 1.0s;
}

#opp {
	font-family: "Impact", sans-serif;
}

.againMenuTitle {
	display: flex;
	justify-content: center;
	background-color: #FF2700;
	width: 100%;
	border: 4px solid #FF2700;
}

.againMenuBtnBox {
	color: #FF2700;
	display: flex;
	justify-content: center;
}

.againMenuBtn {
	margin: 0px 20px 0px 20px;
	font-size: 46px;
}

.againMenuBtn a{
	text-decoration: none;
	color: #FF2700;
}

#modal {
	width: 100%;
	/* border: 2px solid #180; */
	display: flex;
	justify-content: center;
}

#usernameForm {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	position: absolute;
	border: 10px solid transparent;
	background-color: #af47a7;
	width: 250px;
	height: 150px;
	margin: 15px;
	top: 120px;
	/* border-image-source: url("HadoukenTypingBackground.png"); */
	border-image: url("hadmenu border violet.png") 30 / 10px / 10px round;
}

#userInfo {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	border: 10px solid transparent;
	background-color: #f5d3b3;
	width: 250px;
	height: 150px;
	margin: 15px;
	top: 120px;
	/* border-image-source: url("HadoukenTypingBackground.png"); */
	border-image: url("hadMenuBorderBeige.gif") 30 / 18px / 10px round;
}

#clickPlayBtn {
	margin-top: 20px;
	height: 50px;
	width: 140px;
	cursor: pointer;
	/* border: 1px solid #FFF; */
	background-image: url("btnPlay.gif");
}

#clickPlayBtn:active{
	cursor: pointer;
	background-image: url("btnPlayPressed.gif");
}
